.rating-container {
	ul {
		display: flex;
		padding: 10px;
		gap: 10px;

		li {
			list-style: none;
			position: relative;
			background: #f4f4f4;
			width: 50px;
			height: 50px;
			padding: 10px;
			text-align: center;
			border-radius: 50%;
			font-size: 19px;
			border: 1px #eee solid;
			transition: 0.3s;

			label {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50px;
				height: 50px;
				padding: 10px;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				cursor: pointer;
			}
		}
	}

	/* for radio circle being invisible */
	[type="radio"] {
		opacity: 0;
	}

    [type='radio']:checked ~ label {
        background: #00ff1a;
        color: #fff;
      }
}
