.stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
    padding: 10px 0 0 0;

    .stats__count {

    }

    .average {

    }
}